:root {
  /*linear-gradient(250deg, rgb(5, 25, 90) 33.3%, rgb(4, 15, 49))*/
  --primary: rgb(5, 25, 90);
  --primary-text: #ffffff;
  --secondary: #04bbfb;
  --secondary-text: #ffffff;
  --accent: rgb(4, 15, 49);
  --accent-text: #ffffff;
}
